html {
	--boilermaker-gold: #cfb991;
	--aged-gold: #8e6f3e;
	--rush-gold: #daaa00;
	--field-gold: #ddb945;
	--dust-gold: #ebd99f;

	--steel-gray: #555960;
	--cool-gray: #6f727b;
	--railway-gray: #9d9795;
	--stream-gray: #c4bfc0;
	
	scroll-behavior: smooth;
}

:root, html, body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', 'Courier New', Courier, monospace;
	line-height: 1.6;
}

h1 {font-size: calc(1rem * pow(1.2, 6)); line-height: 2;}
h2 {font-size: calc(1rem * pow(1.2, 5)); line-height: 2;}
h3 {font-size: calc(1rem * pow(1.2, 4)); line-height: 1.4;}
h4 {font-size: calc(1rem * pow(1.2, 3));}
h5 {font-size: calc(1rem * pow(1.2, 2));}
h6 {font-size: calc(1rem * pow(1.2, 1));}
p  {font-size: calc(1rem * pow(1.2, 0));}

a { text-decoration: none; }

header, footer {
	background-color: var(--rush-gold);
}

header > p {
	font-size: 3rem;
	font-style: italic;
	font-weight: lighter;
}

@keyframes fade-in {
	0% {
		transform: translateY(-2rem);
		opacity: 0;
	}

	100% {
		opacity: 100%;
	}
}

.floating-title {
	position: absolute;
	font-size: 8vw;
	top: 15%;
	left: 0;
	font-style: italic;
	font-weight: lighter;

	animation: fade-in ease-in-out 0.7s;
}

@keyframes scroll-ind-1 {
	0% {
		transform: translateY(-30px);
		opacity: 0;
	}

	50% {
		transform: translateY(0px);
		opacity: 1;
	}
	
	100% {
		transform: translateY(0px);
		opacity: 0;
	}
}

@media (max-aspect-ratio: 1/1) {
	.scroll-indicator {
		opacity: 0;
	}
}
.scroll-indicator {
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: absolute;
	width: 100%;
	bottom: 10%;
	height: 60px;

	grid-template-rows: 25% 25% 25% 25%;
	transition: all linear 1s;
}

.scroll-indicator.invisible {
	opacity: 0;
}

.scroll-indicator > * {
	width: 48px;
	height: 48px;
	animation: infinite scroll-ind-1 3.33s;
	opacity: 0;
}

.scroll-indicator > *.scrolled {
	animation-iteration-count: 0;
}

.scroll-indicator :nth-child(3) { grid-row: 1/1/2/1; animation-delay: 0.333s; }
.scroll-indicator :nth-child(2) { grid-row: 2/1/3/1; animation-delay: 0.667s; }
.scroll-indicator :nth-child(1) { grid-row: 3/1/4/1; animation-delay: 1s; }

footer {
	margin-top: 3rem;
}

.background-img {
	/* min-width: 100%; */
	/* min-height: 90%; */
	width: 100%;
	height: auto;
}

.accessibility-modal {
	background-color: white;
	position: absolute;
	padding: 1em;
	border: 2px solid black;
	transform: translateX(-100%);
	transition: all ease-in-out 0.2s;
}

.accessibility-modal:focus-within {
	transform: translateX(0);
}

.content-wrapper {
	max-width: 975px;
	margin: auto;
}

.flex-gallery {
	padding-left: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem 2rem;
}

.flex-gallery > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.flex-gallery > li > img {
	aspect-ratio: 1/1;
	width: 12rem;
}

.flex-gallery.icon > li > img {
	width: 6rem;
}

.flex-gallery.round > li > img {
	border-radius: 50%;
}

.flex-gallery > li > p:first-of-type {
	/* Appearance of <h5> */
	font-size: calc(1rem * pow(1.2, 2));
	font-weight: bold;
}